/* รีเซ็ตค่าพื้นฐาน */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* ส่วนหัวของเว็บไซต์ */
header {
    background: #799cf7; /* สีพื้นหลัง */
    color: #fff; /* สีข้อความ */
    padding: 1.5rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}